.mainTodoDiv{
    width: 30%;
    height: 65vh;
    margin: 10vh auto;
    border: 1px solid ivory;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.test{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid magenta;
    height: 6vh;
    color: ivory;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoListDiv{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid ivory;
}

.todoDiv{
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: ivory;
}

.todoDiv svg{
    cursor: pointer;
}

.iconsDiv{
    width: 10%;
    display: flex;
    justify-content: space-between;
}